.div-logo {
  display: flex;
  margin-bottom: 32px;
  margin-top: 10px;
}

.img-logo {
  border-radius: 50%;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}


.div-container {
  height: 100%;
  display: flex;
  background-image: url('https://img.freepik.com/free-photo/close-up-detailed-paper-texture_23-2151873015.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card-container {
  width: 30vw;
  margin: auto;
  margin-top: 20vh;
  border-radius:  20px;
}

.div-input-field {
  display: grid;
}

.div-buttons-container {
  display: grid;
}
